html{
	font: 12px;
	background-color: #60809a;
}

p{
	font: 1.2em;
}

/* a{ */
	/* color: #abb845; */
/* } */

.input{
	border: 0px;
	min-width: 160px;
	min-height: 50px;
	background-color: #60809a;
	font-size: 25px;
	text-align: center;
}

form{
	min-height: 50px;
}

select,
input{
	min-width: 100%;
	min-height: 50px;
	font-size: 20px;
}

input[type="submit"]{
	background-color: #a8671b;
	margin-left: 20px;
}

input[type="submit"]:hover{
	background-color: #bb711a;
}

input[type="submit"]:active{
	background-color: #a8671b;
}


.banner{
	display: flex;
	flex: 2;
	justify-content: space-around;
	min-height: 25px;
	margin: 0 auto;
	background-color: #71bcac;
}

body{
	margin: 0px auto;
	min-width: 960px;
}

.tab{
	width: 35vw;
	height: 5vh;
	font-size: 1.5em;
	text-align: center;
	background-color: #2c6694;
}

.table{
	margin-left: auto;
	margin-right: auto;
}

tr{
	max-width: 960px;
}

td{
	border: 1px solid black;
	min-width: 160px;
	min-height: 50px;
	background-color: #2a353b;
	font-size: 25px;
	text-align: center;
	color: white;
}

.table-header{
	background-color: #bb9311;
}

.container{
	/* border: black 1px solid; */
	margin: auto;
	min-width: 960px;
}

.navigation{
	display: flex;
	flex: 3;
	justify-content: space-around;
}

.footer{
	display: flex;
	flex: 1;
	justify-content: center;
	position: fixed;
	bottom: 0px;
	margin: 3px;
}